{% for image in images %}
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img height="300" width="400" src="images/{{ image }}" alt="some alt text" />
        </div>
    </div>
{% endfor %}